.container {
    width: 100%;
    max-width: 1000px;
    min-height: 150vh;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
        font-size: 38px;
        font-weight: 300;
        color: $secondary-color;
    }

    .desc {
        font-size: 16px;
        font-weight: 300;
        color: $quaternary-color;
    }

    .search {
        display: flex;
        gap: 20px;
        margin-top: 20px;

        .code {
            position: relative;

            .search-color {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background-color: red;
            }
        }

        .image {
            display: block;
            width: 58px;
            height: 58px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $quaternary-color;
            background: $primary-color;
            cursor: pointer;
            border: 1px dashed #ddd;

            &:hover {
                border-color: $quaternary-color;
            }
        }
    }

    .options {
        display: flex;
        gap: 10px;
        margin-top: 20px;

        select {
            width: 100%;
            height: 60px;
            border: none;
            padding: 0 10px;
            font-size: 16px;
            outline: none;
            color: $quaternary-color;
            background-color: $primary-color;
            cursor: pointer;

            &#palette-count {
                width: 25%;
            }
        }
    }

    .or {
        user-select: none;
        width: max-content;
        opacity: 0.7;
        margin: 20px 0;
        font-size: 14px;
        color: $quaternary-color;
        transition: all 0.3s;

        &#random-btn:hover {
            cursor: pointer;
            color: $secondary-color;
        }
    }

    .label {
        width: 100%;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 500;
        color: $secondary-color;
        text-align: left;
        margin-bottom: 10px;
    }

    .palette {
        width: 100%;
        display: flex;
        gap: 4px;
        margin-bottom: 20px;

        .color {
            position: relative;
            width: 100%;
            height: 150px;
            overflow: hidden;
            background-color: red;

            .overlay {
                width: 100%;
                height: 100%;
                font-size: 12px;
                font-weight: 500;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transform: scale(2);
                opacity: 0;
                transition: all 0.15s ease-in;
                background-color: $transparent-color;


                .icons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    gap: 12px;
                    color: $tertiary-color;

                    i {
                        pointer-events: none;
                    }

                    div {
                        width: 30px;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: $transparent-color;
                        cursor: pointer;
                    }
                }

                .code {
                    color: $tertiary-color;
                    line-height: 30px;
                    width: 70px;
                    padding: 0 10px;
                    background-color: $transparent-color;

                }
            }

            &:hover .overlay {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    .image-colors-wrapper {
        &.hidden {
            display: none;
        }
    }

    @media (max-width:768px) {
        justify-content: flex-start;

        input[type="text"] {
            height: 50px;
            font-size: 14px;
        }

        .title {
            font-size: 24px;
        }

        .desc {
            font-size: 13px;
        }

        .search {

            .code {
                height: 50%;

                .search-color {
                    width: 15px;
                    height: 15px;
                    right: 10px;
                }
            }

            .image {
                width: 50px;
                height: 50px;
            }
        }

        .options {

            select,
            .btn {
                height: 50px;
                font-size: 14px;
            }



        }

        .palette {
            .color {
                height: 70px;

                .overlay {
                    font-size: 10px;

                    .icons {
                        div {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .code {
                        line-height: 20px;
                        width: 50px;
                        padding: 0 5px;
                    }
                }

            }
        }
    }
}