// Color Palette
$primary-color: #f4f6fc;
$secondary-color: #303030;
$tertiary-color: #ffffff;
$quaternary-color: #9ea6ab;
$body-bg-color: #e8ecf3;
$transparent-color: #0000001a;

//Dark theme color palette
:root {
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --tertiary-color: #{$tertiary-color};
    --quaternary-color: #{$quaternary-color};
    --body-bg-color: #{$body-bg-color};
    --transparent-color: #{$transparent-color};
}